<div class="intro-section">
  <div class="intro-contacts-container">
    <div class="intro-contacts-item">
      <div class="intro-contacts-text">Связь:</div>
      <div class="intro-contacts-address">lok1gameproject.suport@gmail.com</div>
    </div>
    <div class="intro-contacts-item">
      <div class="intro-contacts-icon">icon</div>
    </div>
    <div class="intro-contacts-item">
      <div class="intro-contacts-icon">icon</div>
    </div>
  </div>
  <div class="intro-container">
    <div class="intro-title-container">
      <div class="intro-title">LOK1game</div>
      <div class="intro-subtitle">Игры от геймеров, что любят свою работу</div>
    </div>
    <div class="intro-quality-container">
      <div class="row">
        <div class="intro-quality-item">
          <div class="intro-quality-icon-inner">
            <div class="intro-quality-icon">icon</div>
          </div>
          <div class="intro-quality-text-container">
            <div class="intro-quality-text">Все игры выходят в строго отведённый срок</div>
          </div>
        </div>
        <div class="intro-vertical-divider"></div>
        <div class="intro-quality-item">
          <div class="intro-quality-icon-inner">
            <div class="intro-quality-icon">icon</div>
          </div>
          <div class="intro-quality-text-container">
            <div class="intro-quality-text">Быстрое и качественное прототипирование</div>
          </div>
        </div>
        <div class="intro-vertical-divider"></div>
        <div class="intro-quality-item">
          <div class="intro-quality-icon-inner">
            <div class="intro-quality-icon">icon</div>
          </div>
          <div class="intro-quality-text-container">
            <div class="intro-quality-text">Санкт-Петербург, пр. Космонавтов, 65, к. 2 Пространство «Stack»</div>
          </div>
        </div>
      </div>
    </div>
    <div class="intro-last-title">Не упускай своей возможности стать частью нашей команды</div>
  </div>
</div>
